* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	position: relative;
}

.wrapper {
	margin: 10px 5px 10px 5px;
	height: 100%;
	width: 100%;
	content: "";
    display: table;
    clear: both;
}

.block {
	float: left;
    width: 25%;
    padding: 10px;
}

.block img {
	width: 100%;
	height: auto;
}

.block img:hover {
	cursor: zoom-in;
}

.modal {
	height: 600px;
	width: 70%;
	display: none;
	position: fixed;
	background-color: aqua;
	top: 25px;
	left: 100px;
}

.show-modal {
	display: block;
	cursor: zoom-out;
}