* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	position: relative;
}

.wrapper {
	margin: 10px 5px 10px 5px;
	height: 100%;
	width: 100%;
	content: "";
    display: table;
    clear: both;
}

.block {
	float: left;
    width: 25%;
    padding: 10px;
}

.block img {
	width: 100%;
	height: auto;
}

.block img:hover {
	cursor: zoom-in;
}

.modal {
	height: 600px;
	width: 80%;
	display: none;
	position: fixed;
	background-color: #fff;
	top: 25px;
	left: 100px;
	border-radius: 4px;
}

.show-modal {
	display: block;
	cursor: zoom-out;
}

.modal #image-view {
	display: block;
	margin: 20px auto;
	width: 18em;
}

#image-view {
	width: 70%;
	margin: 100px 0 0 100px;
}

.half-opaq {
	opacity: 0.5;
}

.no-pointer-events {
	pointer-events: none;
}