html, body {
	height: 100%;
}

.wrapper {
	margin: 10px 5px 10px 5px;
	height: auto;
}

.row {
	width: 100%;
	margin: 10px 0 10px 0;
}

.row img {
	width: 33%;
	vertical-align: middle;
	display: inline-block;
}